downloads=/mnt/hgfs/share/downloads

# hosts=(hostname:192.168.195.120 hostname1:192.168.195.121 hostname2:192.168.195.122)
hosts=(standalone:192.168.195.150)
cm_version=5.14.0

# require 3 files: *.parcel, *.parcel.sha1, manifest.json
spark2_parcel_dir=${downloads}/spark2
spark2_parcel_name=SPARK2-2.3.0.cloudera3-1.cdh5.13.3.p0.458809-el7
spark2_csd=SPARK2_ON_YARN-2.3.0.cloudera3.jar

export spark2_csd=$spark2_csd
export hosts=$hosts
export spark2_parcel_dir=$spark2_parcel_dir
export spark2_parcel_name=$spark2_parcel_name
export cm_version=$cm_version
export spark2_version=`echo "${spark2_parcel_name}" | sed -e 's/^SPARK2-//' -e 's/-el7$//' `


