#The properties below need be set.
downloads=/mnt/hgfs/share/downloads

# hosts=(hostname:192.168.195.120 hostname1:192.168.195.121 hostname2:192.168.195.122)
hosts=(standalone:192.168.195.150)
cm_version=5.14.0

# require 3 files: *.parcel, *.parcel.sha1, manifest.json
splice_parcel_dir=${downloads}/splice
splice_parcel_name=SPLICEMACHINE-2.7.0.1833.cdh5.14.0.p0.138-el7

# Don't change line below
export hosts=$hosts
export splice_parcel_dir=$splice_parcel_dir
export splice_parcel_name=$splice_parcel_name
splice_version=${splice_parcel_name#SPLICEMACHINE-}
splice_version=${splice_version%-*}
export splice_version=${splice_version}
export cm_version=$cm_version



